* text=auto
*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.svg text eol=lf
*.sat binary
*.3mf binary
*.stl binary
*.mkv binary
*.npz binary
